<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
            a{
                text-decoration:none;
            }
        </style>
    </head>
    <body>
        
<!-- Sidebar -->
<div class="w3-sidebar w3-black w3-bar-block" style="width:25%">
    <h3 class="w3-bar-item">Welcome {{user.name}}</h3>
    <a href="#" class="w3-bar-item w3-button">Tutors Page</a>

    <a href="#" class="w3-bar-item w3-button">Code Editor</a>
    
    <a href="#" class="w3-bar-item w3-button">Practice APCSA Tests/Modules</a>

  </div>
  
  <!-- Page Content -->
  <div style="margin-left:25%">
  
  <div class="w3-container" style = "background-color:rgb(18, 18, 18); color:white;">
    <h1>My Page</h1>
  </div>
  
    </body>
</html>