<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
            a{
                text-decoration:none;
            }
        </style>
    </head>
    <body>
        
<!-- Sidebar -->
<div class="w3-sidebar w3-black w3-bar-block" style="width:25%">
    <h3 class="w3-bar-item">{%if user.is_authenticated%} Welcome  {{user}}!{%else%} <a href="{%url 'register'%}" class="w3-bar-item w3-button ">Login!</a>{%endif%}</h3>
    <a href="#" class="w3-bar-item w3-button">Tutors Page</a>

    <a href="#" class="w3-bar-item w3-button">Code Editor</a>
    
    <a href="#" class="w3-bar-item w3-button">Practice APCSA Tests/Modules</a>

  </div>
  
  <!-- Page Content -->
  <div style="margin-left:25%">
  
  <div class="w3-container" style = "background-color:rgb(18, 18, 18); color:white;">
    <h1>The Java Tutoring Club!</h1>
  </div>
  <section class = "w3-rowPadding " style="color:white;">
    <section class = "w3-third w3-container" style="background-color:rgb(33, 0, 0); text-align:center;">
      
        <h2>1. We will help you with your coding problems!</h2>
     
    </section>
    <section class = "w3-third" style="background-color:rgb(0, 36, 27);text-align:center;">
       
            <h2> 2. We will do whole class teaching activities!</h2>
        
        
    </section>
    <section class = "w3-third w3-container"style="background-color:rgb(38, 1, 33);text-align:center;">
    
            <h2>3. We will help you study for CS Exams!</h2>
        
    </section>
  </section>
  
    </body>
</html>